<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Suite">
	<test name="login test case">
		<classes>
			<class name="logintestcase.BothCorrect"/>
			<class name="logintestcase.BothIncorrect"/>
			<class name="logintestcase.CorrectPassword"/>
			<class name="logintestcase.CorrectUserName"/>
		</classes>
	</test>
</suite>
